.container {
  text-align: center;
}

.button_container {
  margin-top: 10px;
}

.weather_icon {
  width: 120px;
  height: 90px;
}

.card_container {
  margin-top: 2rem;
  background-color: #0099e6 !important;
  color: white !important;
  font-size: 1.1em !important;
}
